/* div[data-testid="stAppViewContainer"] {
    background-color: #f6f6f4;  
} */



div[class*="st-emotion-cache"][class*="3uj0"] p {
    color: green !important;
}

div[data-testid="stPopover"] {
    background-color: yellow !important;
    border-radius: 8px !important;
}



div[data-testid="stMain"]{
    padding: 0 !important;
}

.block-container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 2rem !important;
    padding-bottom: 0rem !important;
}


/* Opsional: perbesar lebar maksimal */
.block-container {
    max-width: 100% !important;
}

div[data-testid="stColumn"]{
border-radius: 16px;
background: #ffffff;
-webkit-box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.15);
box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.15);


}

/* hilangkan border wrapper tile */
div[data-testid="stVerticalBlock"] {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

/* div[data-testid="stVerticalBlockBorderWrapper"]{
  padding-top: 0px !important;
  margin-top: 0px !important;
} */

.header-title{
  padding: 8px 10px;
  border: none; 
  border-radius: 10px; 
  display: inline-block;

  background-color: #c7eb68;
  
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  
  /* Efek Bayangan (opsional, untuk sedikit kedalaman) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  /* Transisi (opsional, untuk animasi halus saat hover) */
  transition: background-color 0.2s ease;
}
.space{
  padding: 8px 10px;

}

.data-card {
  /* Tata Letak */
  display: flex; /* Menggunakan Flexbox untuk tata letak bersebelahan */
  align-items: center; /* Memastikan semua elemen sejajar vertikal di tengah */
  padding: 20px;

  border-radius: 5px; /* Sedikit pembulatan sudut */

  /* Font Dasar */
  font-family: Arial, sans-serif;
  color: #000000;
}

.data-number {
  /* Gaya untuk Angka "60" */
  font-size: 32px; /* Ukuran font yang sangat besar */
  font-weight: 900; /* Ekstra tebal */
  line-height: 1; /* Agar angka tidak memakan terlalu banyak ruang vertikal */
  margin-right: 15px; /* Jarak antara angka dan label */
}

.data-numberApp {
  /* Gaya untuk Angka "60" */
  font-size: 64px; /* Ukuran font yang sangat besar */
  font-weight: 900; /* Ekstra tebal */
  line-height: 1; /* Agar angka tidak memakan terlalu banyak ruang vertikal */
  margin-right: 15px; /* Jarak antara angka dan label */
}

.data-label {
  /* Gaya untuk Teks "Amount of Data" */
  font-size: 1rem;
  font-weight: 700; /* Tebal */
  line-height: 1.2; /* Spasi baris */
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.data-label1 {
  /* Gaya untuk Teks "Amount of Data" */
  font-size: 1.6rem;
  font-weight: 700; /* Tebal */
  line-height: 1.2; /* Spasi baris */
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.data-label2 {
  /* Gaya untuk Teks "Amount of Data" */
  font-size: 1.2rem;
  font-weight: 700; /* Tebal */
  line-height: 1.2; /* Spasi baris */
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.data-labelApp {
  /* Gaya untuk Teks "Amount of Data" */
  font-size: 2rem;
  font-weight: 700; /* Tebal */
  line-height: 1.2; /* Spasi baris */
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}


.date-selector-containerApp {
  /* Tata Letak */
  margin-top: 10px;
  display: flex;
  justify-content: space-around; /* Menyebar item secara merata */
  align-items: center;
  
  /* Bentuk dan Warna */
  background-color: #ffffff; /* Latar belakang putih */
  padding: 10px 25px; /* Jarak di dalam elemen */
  border-radius: 12px; /* Sudut membulat yang halus */
  
  /* Bayangan (Shadow) */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Bayangan yang lembut dan menyebar */
  
  /* Font Dasar */
  font-size: 12px;
  font-weight: 700; /* Tebal */
  line-height: 1.2; /* Spasi baris */
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 100%; /* Lebar keseluruhan elemen */
  max-width: 100%;
}

.date-selector-container-headerApp {
  /* Tata Letak */
  margin-top: 10px;
  display: flex;
  justify-content: space-around; /* Menyebar item secara merata */
  align-items: center;
  
  /* Bentuk dan Warna */
  background-color: #C2A5F9; /* Latar belakang putih */
  padding: 10px 25px; /* Jarak di dalam elemen */
  border-radius: 12px; /* Sudut membulat yang halus */
  
  /* Bayangan (Shadow) */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Bayangan yang lembut dan menyebar */
  
  /* Font Dasar */
  font-size: 12px;
  font-weight: 700; /* Tebal */
  line-height: 1.2; /* Spasi baris */
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 100%; /* Lebar keseluruhan elemen */
  max-width: 100%;
}

.date-item {
  /* Gaya untuk setiap item teks */
  padding: 0 5px; /* Sedikit padding horizontal jika diperlukan */
  white-space: nowrap; /* Mencegah item melompat ke baris baru */
}

/* Penyesuaian opsional untuk jarak jika Anda ingin jarak yang lebih spesifik */
.date-item.month {
  font-size: 12px;
  font-weight: 700; /* Tebal */
  line-height: 1.2; /* Spasi baris */
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
}

p {
  color : black
}

/* 1. Wrapper Luar (Latar Belakang Gelap) */
.background-wrapper {
  /* Hanya untuk tampilan penuh layar seperti pada gambar */
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
/* Warna latar belakang ungu gelap/hitam */
  padding: 5px;
}

/* 2. Container Putih (Kotak Modal/Card) */
.modal-container {
  /* Terapkan Flexbox untuk memposisikan konten di tengah */
  display: flex;
  justify-content: center; /* Tengah horizontal */
  align-items: center; /* Tengah vertikal */
  
  /* Bentuk Container */
  width: 400px; /* Lebar container putih */
  height: 300px; /* Tinggi container putih */
  border-radius: 15px;
}

.status-box {
  display: inline-block;
  padding: 5px 5px; 
  border-radius: 8px; 
  background-color: #ff6363; 
  color: #ffffff; 
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-weight: 600; 
  box-shadow: 0 4px 10px rgba(255, 99, 99, 0.4); 
}

div[data-testid="stMarkdownContainer"]{
  margin-top: 0 !important;
  padding-top: 0 !important;
}


.date-selector-container,
.date-selector-container-header {
  margin-top: 10px;
  display: grid;

  /* 12 kolom = sesuai jumlah kolom kamu */
  grid-template-columns:
  minmax(60px, 0.7fr)   /* Tahun */
  minmax(90px, 1.2fr)   /* Bulan */
  minmax(80px, 1fr)     /* Nilai */
  minmax(70px, 1fr)     /* MA */
  minmax(70px, 1fr)     /* CMA */
  minmax(40px, 0.6fr)   /* x */
  minmax(50px, 0.7fr)   /* x2 */
  minmax(80px, 1fr)     /* xy */
  minmax(80px, 1fr)     /* CMAT */
  minmax(50px, 0.7fr)   /* CF */
  minmax(50px, 0.7fr)   /* SI */
  minmax(90px, 1.2fr);  /* FORECAST */


  align-items: center;
  gap: 8px;

  padding: 12px 20px;
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
}


.date-selector-container-header {
  background-color: #C2A5F9;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


.date-selector-container {
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

div[class="st-emotion-cache-pkbazv edtmxes6"] {
  color : black !important;
  background-color: white !important;
}

div[data-testid="stSidebarNavLink"]{
  background-color: red !important;
}


div[data-testid="stNumberInput"], div[data-testid="stSelectbox"]{
  padding: 10px !important;
}

div[data-testid="stBaseButton-secondary"]{
  width: 100% !important;
}

.status-box-input{
  padding: 8px 10px;
  border: none; 
  border-radius: 10px; 
  display: inline-block;

  background-color: #ff6363; 
  color: #ffffff; 
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  
  /* Efek Bayangan (opsional, untuk sedikit kedalaman) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  /* Transisi (opsional, untuk animasi halus saat hover) */
 
}